{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ location.city }}</h1>
        <dl class="row list-group-flush">
            <dt class="col-3 list-group-item">Zip Code</dt>
            <dd class="col-9 list-group-item">{{ location.zip }}</dd>

            <dt class="col-3 list-group-item">Latitude</dt>
            <dd class="col-9 list-group-item">{{ location.latitude }}</dd>

            <dt class="col-3 list-group-item">Longitude</dt>
            <dd class="col-9 list-group-item">{{ location.longitude }}</dd>

            <dt class="col-3 list-group-item">Population</dt>
            <dd class="col-9 list-group-item">{{ location.population }}</dd>
        </dl>

        <h3 class="text-center">Weather</h3>
        <dl class="row list-group-flush">

            <dt class="col-3 list-group-item">Time</dt>
            <dd class="col-9 list-group-item">{{ time }}</dd>

            <dt class="col-3 list-group-item">Summary</dt>
            <dd class="col-9 list-group-item">{{ weather.summary }}</dd>

            <dt class="col-3 list-group-item">Temperature</dt>
            <dd class="col-9 list-group-item">{{ weather.temperature }}</dd>

            <dt class="col-3 list-group-item">Dew Point</dt>
            <dd class="col-9 list-group-item">{{ weather.dewPoint }}</dd>

            <dt class="col-3 list-group-item">Humidity</dt>
            <dd class="col-9 list-group-item">{{ weather.humidity }}</dd>
        </dl>
    </div>

    <br><br>

    {% if check_ins|length > 0 %}
        <h3>Check Ins: {{ check_ins|length }}</h3>
        <ul class="list-group-flush">
            {% for check_in in check_ins %}
                {% if check_in.message|length > 0 %}
                    <li class="list-group-item">{{ check_in.message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <h3>There Haven't Been Any Check Ins at This Location Yet!</h3>
    {% endif %}

    <form action="{{ url_for('check_in') }}" method="post">
        <input type="hidden" name="id" value="{{ location.id }}">
        <div class="form-group">
            <label for="formText">Check in with an optional message:</label>
            <textarea class="form-control" id="formText" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Check In!</button>
    </form>
{% endblock %}
