{% extends "layout.html" %}

{% block body %}

<form {% if new_user %} action="{{ url_for( 'sign_up' ) }}" {% else %} action="{{ url_for( 'sign_in') }}" {% endif %} method="post">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
    {% if new_user %}
        <div class="form-group">
            <label for="inputConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="inputConfirm" name="confirm" placeholder="Confirm Password">
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if not new_user %}
    Creating a new account? <a class="btn btn-primary" href="{{ url_for( 'login', new_user=True ) }}">Click here!</a>
{% endif %}
{% endblock %}
